name: Go CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false # Desativa a cache para evitar o erro de 'Dependencies file not found'

      - name: Compilar Aplicação
        run: go build -v .

      - name: Executar Testes
        run: go test -v .

  continuous-deployment:
    needs: continuous-integration
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: aluno
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/appuser/go-notes
            sudo ./deploy.sh
