name: Go CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: false

      - name: Compilar Aplicação
        run: go build -v .

      - name: Executar Testes
        run: go test -v .

  continuous-deployment:
    needs: continuous-integration
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: appuser
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/appuser/go-notes
            git pull origin main
            chmod +x deploy.sh
            ./deploy.sh
